[file]

loglevel = "ERROR"

### Configuracoes Backends

[backends]
  [backends.app]
    [backends.app.servers.backend_1]
      url = "http://{{ app_ip_01 }}:80"
      weight = 5
    [backends.app.servers.backend_2]
      url = "http://{{ app_ip_02 }}:80"
      weight = 5
   
   # Enable healthcheck
   [backends.app.healthcheck]
     path = "/"
     interval = "10s"
     port = 80

### Configuracoes Froentends (Entrada da conexão)

[frontends]
  [frontends.app]
    backend = "app"
    X-Custom-Response-Header = true
  [frontends.app.routes.frontend_backend_1]
    rule = "Host:{{ fqdn }};PathPrefixStrip:/devweek"


